
*{
  box-sizing: border-box;
}
#code{
  height: 100vh;
  overflow: hidden;
}
.token.comment, .token.prolog, .token.doctype, .token.cdata ,
.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted ,
.token.punctuation ,
.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
  color: black;
}
.pika{
  height: 165px;
  position: relative;
  top: 400px;
}

#code{
  box-shadow:inset 0 0 500px  rgba(0,0,0,0);
}
@keyframes breathingLight{
  0%{
    box-shadow:inset 0 0 500px rgba(0,0,0,0.9)
  }
  100%{
    box-shadow:inset 0 0 500px rgba(0,0,0,0.05)
  }
}
