*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #F2F2F2; 
}

#bookmarksMain{
  margin: 100px 0;
  text-align: center;
}
kbd{
  display: inline-block;
  background-color: white;
  border-bottom: 3px solid #DDD;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.7);
  width: 60px;
  height: 60px;
  margin: 8px 8px;
  /* text-align: content; */
  text-transform: uppercase; 
  font-size: 25px; 
  position: relative;

}
.kbdClass{
  background-color: white;
}
kbd:hover{
  border-bottom: 0px solid #DDD;
}
kbd > button{
  border: none;
  background-color: orange;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 15px;
  display: none;

}
kbd:hover > button{
  display: block;
}
kbd > button:hover{
  background-color: black;
}

/* 后期美化 text styles
.text span{
  display: inline-block;
  width: 15px;
  height: 15px; 
}
.text > .text_1 > span{
  background-color: white;
}
.text > .text_2 > span{
  background-color: rgb(179, 179, 179);
} */